@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.post-content {
    font-family: Arial, sans-serif;
    background-color: #090909;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 10px;  
    overflow-y: scroll;
    flex-wrap: wrap;
    
}

.profile{
    margin-top: 10px;
}

.post-container {
    width: 600px;
    height: auto;
    background-color: #000000;
    color: #f8f8f8;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.post-header {
    display: flex;
    /* align-items: center; */
    margin: 10px;
}

.post-username{
    text-align: center;
    padding-top: 4px;
    font-family: "Oswald", sans-serif;
}

.post-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.post-header .post-time {
    color: #888;
    margin-left: 10px;
    padding-top: 13px;
    font-size: 15px;
}
.image {
    width: 100%;
}
.text-content {
    padding: 20px;
    font-size: 24px;
    text-align: center;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.post-image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.post-footer {
    padding: 10px 20px;
    margin-bottom: 10px;
}
.post-footer .likes {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}
.post-footer .caption {
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
}
.username {
    font-family: "Oswald", sans-serif;
    font-size: 20px
}
.text {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.icon{
    display: flex;
    justify-content: space-around; /* Điều chỉnh khoảng cách giữa các phần tử nếu cần */
    align-items: center; 
    padding-right: 350px;
    font-size: 20px;
}
