.inner-wrap{
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;;
}

.inner-wrap .sidebar-left{
  width: 18%;
  height: 100vh;
  border-right: #8f8f8f solid 1px;
  position: fixed
}

.inner-wrap .sidebar-right{
  width: 18%;
  height: 50vh;
  border-left: #8f8f8f solid 1px;
  border-bottom: #8f8f8f solid 1px;
}

.inner-wrap .main-content{
  width: 60%;
  height: 100vh;
  margin-left: 20%;
}

.main-content .inner-head p {
  margin: 0;
}

.main-content .inner-head{
  width: 100%;
  height: 90px;
  background: #868585;
  color: #fff;
  text-align: center;
  line-height: 50px;
}